[Unit]
Description=Deteccion y control de servicios no autorizados
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/sbin/ssp_files/service.py
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_NET_ADMIN
WorkingDirectory=/usr/sbin/ssp_files
Restart=always
User=root

[Install]
WantedBy=multi-user.target
