[Unit]
Description=Detección y control de servicios no autorizados
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/ssp_daemon.py
WorkingDirectory=/usr/sbin
User=ssp
Group=ssp

ProtectSystem=full
ReadWritePaths=/var/log/ssp
ProtectHome=read-only
PrivateTmp=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes

StandardOutput=append:/var/log/ssp/ssp.log
StandardError=append:/var/log/ssp/ssp_error.log

Restart=always

[Install]
WantedBy=multi-user.target
