polkit.addRule(function(action, subject) {
    if (subject.user === "ssp") {
        if (action.id === "org.freedesktop.systemd1.manage-units") {
            return polkit.Result.YES;
        }
    }
    return polkit.Result.NO;
});
